export TEST_2_DB_DSN=postgres://advancedb:tapirhorse@localhost/advancedb_test1?sslmode=disable
export ADDRESS=:4000
export Session_SECRET=Hjp6mdjHsIXUe0q3UGpWAm4
export Hugging_API="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"
