{{define "content"}}
<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="page-title">
        <h4>Brand Edit</h4>
        <h6>Update your Brand</h6>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
      <form method="POST" action="/edit-brand/{{.FormData.ID}}">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              <label>Brand Name</label>
               <input
                  type="text"
                  id="BrandName"
                  name="BrandName"
                  placeholder="Brand Name"
                  value="{{index .FormData "BrandName"}}"
                  class="{{if .FormErrors.BrandName}}invalid{{end}}"
                />
                {{with .FormErrors.BrandName}}
                <div class="error">{{.}}</div>
                {{end}}
            </div>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label>Description</label>
             <textarea
                  class="form-control"
                  id="BrandDescription"
                  name="BrandDescription"
                  placeholder="Brand Description"
                >{{index .FormData "BrandDescription"}}</textarea>
                {{with .FormErrors.BrandDescription}}
                <div class="error">{{.}}</div>
                {{end}}
            </div>
          </div>
        

          <div class="col-lg-12">
            <button type="submit" class="btn btn-submit me-2">Update</button>
              <a href="/brands" class="btn btn-cancel">Cancel</a>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}
